.weather-icon {
  padding: 0;
}

.weather-icon > img {
  width: 50px;
}

div .rounded-circle {
  width: 30px;
  height: 30px;
}

div .rounded-circle p {
  padding-top: 2px;
  color: white;
  font-weight: bold;
}

.table-element:hover {
  background-color: lightblue;
}
.card {
        margin: 10px auto; /* Added */
        float: none;
        margin-bottom: 20px; /* Added */
        margin-left: 100 px;
}
.card:hover {
  background-color:#e5f2f7
}


.cursor-pointer {
  cursor: pointer;
}

.container{
  background-color: white;
}

#newButton{
  float: left;
  margin-top: 13px;
  margin-left: 10px;
}

#titolo{
  float: center;
  margin-top: 10px;
}

.container{
  width: 100%;
}

.navbar-brand{
  width: 1350px;
  left: 15px;
  font-size: 30px;

}
.p{
  font-size: 20px;
}

.nav-item{
  font-size: 20px;
}

h2{
  color:grey;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;

}

.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 222px;
    margin: -75px 0 0 -100px;
}

#bestBeaches{
    background-color: rgba(0,0,0,.3);
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    margin-left: 20vw;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 60%;
}

#image {
  background: url(http://live.coast.style/appadmin/public/foto/20180226174911/Cala-Coticcio-Caprera-Spiaggia-Beach-PortoCervo-Costa-Smeralda-Sardegna-Sardinia-Coast-CoastStyle-MC.jpg);
  height: 550px;
  margin-top: -10px;
  width: 100%;
  color: white;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

div.menu {
  border-right: 3px solid #ddd;
  padding-left: 0;
  padding-right: 0;
}
div.menu .search-bar {
  background-color: #fff;
  color: #363636;
  width: 100%;
  padding: 10px;
}
div.menu .search-bar input {
  width: 90%;
  border: 0;
  height: 50px;
  font-size: 20px;
  padding-left: 1rem;
}
div.menu .search-bar input ::placeholder, div.menu .search-bar input ::-webkit-input-placeholder, div.menu .search-bar input ::-moz-placeholder {
  color: black !important;
}
div.menu .search-bar input i.fa {
  width: 10%;
}
div.btn-group button {
  border: 0;
  border-bottom: 3px solid #ddd;
}
div.btn-group button.active {
  border-bottom: 3px solid black;
  font-weight: bold;
  background-color: inherit;
  color: inherit;
}
div.btn-group button:hover {
  border-radius: 0;
}
div.tag-list .badge {
  background-color: #fff !important;
  font-size: 16px;
  font-weight: normal;
}
div.filters div.accordion button.btn-link {
  color: #363636;
  font-size: 25px;
}
div.filters div.accordion button:after {
  content: "\2B9E";
  /* fa-chevron-down */
  position: absolute;
  right: 10px;
  top: 10px;
}
div.filters div.accordion button[aria-expanded="true"]:after {
  content: "\2B9F";
  /* fa-chevron-up */
}
div.filters div.accordion div.card-header {
  background: white;
  font-weight: bolder;
  padding: 0 1rem;
}
div.filters div.accordion div.card-body {
  background-color: #f2f2f2;
}
div.filters div.accordion div.card-body .form-check {
  margin-left: 1rem;
}
div.filters div.accordion div.card-body .form-check input[type='checkbox'] {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  margin: 6px 0 0;
}
div.filters div.accordion div.card-body .form-check input[type='checkbox']:checked {
  background-color: lightblue;
}
div.filters div.accordion div.card-body .form-check label {
  margin-left: 0.5rem;
}