.weather-icon {
  padding: 0;
}

.weather-icon > img {
  width: 50px;
}

div .rounded-circle {
  width: 30px;
  height: 30px;
}

div .rounded-circle p {
  padding-top: 2px;
  color: white;
  font-weight: bold;
}

.table-element:hover {
  background-color: lightblue;
}
.card {
        margin: 10px auto; /* Added */
        float: none;
        margin-bottom: 20px; /* Added */
        margin-left: 100 px;
}
.card:hover {
  background-color:#e5f2f7
}


.cursor-pointer {
  cursor: pointer;
}

.container{
  background-color: white;
}

.background{
height: 250px;
background-color: white;
background: url(https://siviaggia.files.wordpress.com/2016/07/chia-sardegna-mare-piu-bello-guida-blu-t.jpg) no-repeat;

background-size: cover;
background-attachment: fixed;
background-position: center;
}

#newButton{
  float: left;
  margin-top: 13px;
  margin-left: 10px;
}

#titolo{
  float: center;
  margin-top: 10px;
}

.container{
  width: 100%;
}

.navbar-brand{
  width: 1350px;
  left: 15px;
  font-size: 30px;

}
.p{
  font-size: 20px;
}

.nav-item{
  font-size: 20px;
}

h2{
  color:grey;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;

}

.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 222px;
    margin: -75px 0 0 -100px;
}

#image {
  background: url(https://it.sailsquare.com/blog/app/uploads/sites/3/2017/04/Cala-Coticcio-Caprera-1-e1492522465771-2400x1056.jpg) no-repeat;
  height: 500px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-top: 250px;
  color: white;
  background-attachment: fixed;
}
  