<div id="image">
  <h1>Le Migliori Spiagge</h1>
</div>

<div class="container rounded mt-5 p-5 mb-5 shadow-lg" style="background-color:rgba(255, 255, 255, 0.8);">

  <div class="row">
  
  <div class="col-3 mr-5 mt-5 border-right">
    <h4>Filtri</h4>
  
    <h4 class="mt-5">Tag</h4>
      
  </div>

  <div class="col-lg">
    <div *ngIf="loaded" class="order-list mb-5 text-right">

      <h4 class="d-inline-block mr-2">Ordina per: </h4>
      <form (change)="radioChange()">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="park" name="radio" class="custom-control-input" value="park" [(ngModel)]="radioValue">
          <label class="custom-control-label" for="park">Parcheggio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="summer_crowding" name="radio" class="custom-control-input" value="summer_crowding"
            [(ngModel)]="radioValue">
          <label class="custom-control-label" for="summer_crowding">Affollamento</label>
        </div>

        <!--      <div class="custom-control custom-radio custom-control-inline">-->
        <!--        <input type="radio" id="traffic" name="radio" class="custom-control-input" value="traffic" [(ngModel)]="radioValue">-->
        <!--        <label class="custom-control-label" for="traffic">Traffico</label>-->
        <!--      </div>-->
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="weather" name="radio" class="custom-control-input" value="weather"
            [(ngModel)]="radioValue">
          <label class="custom-control-label" for="weather">Meteo</label>
        </div>
      </form>
    </div>

    <div class="row align-items-start px-4" style="margin-bottom: 20px;">
    
    <div *ngFor="let beach of beaches.slice(0, 10)" class="card cursor-pointer w-100 mt-2 border shadow" (click)="goToDetails(beach.id)">
            
      <div>
        <img class="card-img-top" src="{{beach.photo}}" alt="{{ beach.name }}" style="object-fit: cover; height: 20vh;">
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">{{ beach.name }}</h5>
            <p class="card-text">{{ beach.city + ' (' + beach.province + ')' }}</p>
          </div>
          <div class="col">
            <div class="weather-icon mr-2"><img [src]="beach.weatherIcon" alt="meteo" style="float: right;"></div>
          </div>
        </div>
      </div>

        <h3 *ngIf="loaded && beaches.length === 0">Non ci sono ancora spiagge! Provvedi ad aggiungerne.</h3>

        <h3 *ngIf="!loaded">Loading...</h3>
      </div>
    </div>
  </div>
</div>
