 <a style="text-decoration: none;" >
 <div class="bg-img">

  <div class="container" id="textContainer">
    <p id="beachadvisor">BeachAdvisor</p>
    <p id="clicka" class="mt-5">Vorrei andare in una spiaggia adatta per :</p>
  </div>
  
  <div  class="container container-fluid  py-4 text-center"  id="typeBeaches">

  <button type="button" class="btn btn-outline-secondary mx-3 shadow " [routerLink]="['/beaches/list']" [queryParams]="{ filter: 'sport' }"><span>Fare sport </span></button>
  <button type="button" class="btn btn-outline-secondary mx-3 shadow" [routerLink]="['/beaches/list']" [queryParams]="{ filter: 'fun' }"><span>Divertirmi </span></button>
  <button type="button" class="btn btn-outline-secondary mx-3 shadow" [routerLink]="['/beaches/list']" [queryParams]="{ filter: 'family' }"><span>Stare in famiglia </span></button>
  <button type="button" class="btn btn-outline-secondary mx-3 shadow" [routerLink]="['/beaches/list']" [queryParams]="{ filter: 'relax' }"><span>Rilassarmi </span></button>
  </div>

  </div>

 </a>